# Executables
*.exe
*.app
*.out

# Libraries
*.lib
*.a
*.dll
*.so

# Object files
*.o

# CMake clutters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Ninja Clutter
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Visual Studio Code configuration files
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json