# Executables
*.exe
*.app
*.out

# Libraries
*.lib
*.a
*.dll
*.so

# Object files
*.o
*.obj

# Precompiled headers
*.pch
*.gch

# CMake clutters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
cmake_config.h

# Ninja Clutter
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Visual Studio Code configuration files
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json

# Visual Studio clutters
*.vcxproj.filters
*.sln
*.vcxproj
*.pdb
.vs/
*.recipe
*.dir/
x64/

# Logs
*.log
*.tlog